services:
  wtds_server:
    image: ccr.ccs.tencentyun.com/jxwaf/wtds_server_authorizatio:v1.1
    networks:
      app_net:
        ipv4_address: 172.20.0.3
    ulimits:
      nofile:
        soft: 602400
        hard: 602400
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      MYSQL_HOST: 172.20.0.2
      MYSQL_PORT: 3306
      MYSQL_DATABASE: wtds_admin
      MYSQL_USER: root
      MYSQL_PASSWORD: 958fba75-56c6-4e81-a892-62517a9e1739
      WTDS_UPDATE_CONF_DATA: 1000m
      AUTH_CODE: 修改为你的授权码
      TZ: Asia/Shanghai
    volumes:
      - ./ssl_certs/server.crt:/opt/wtds_server/nginx/conf/server.crt
      - ./ssl_certs/server.key:/opt/wtds_server/nginx/conf/server.key

  mysql_db:
    image: ccr.ccs.tencentyun.com/jxwaf/mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 958fba75-56c6-4e81-a892-62517a9e1739
      MYSQL_CHARSET: utf8mb4
      MYSQL_COLLATION: utf8mb4_0900_ai_ci
      MYSQL_DEFAULT_AUTHENTICATION_PLUGIN: mysql_native_password
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_0900_ai_ci
      - --innodb_buffer_pool_size=256M
    volumes:
      - /opt/jxwaf_data/mysql:/var/lib/mysql
    ports:
      - "127.0.0.1:3306:3306"
    networks:
      app_net:
        ipv4_address: 172.20.0.2

networks:
  app_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
